@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
@media (min-width: 768px) {
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
:root {
  --we-care-bg-color: #faf4f2 !important;
  --we-care-svg-container: #ffe6d4;
  --we-care-svg-container--img: #ed6435 !important;
  --trending-carousel-button-bg: #b2e7e9;
  --trending-carousel-button-bg-c: #45c1c7;
  --footer-created-wrapper: #f2e8e4;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
}

.bg-everything {
  background-position: center 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 2000px 1000px;
  /*
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;*/
}

.bg-dog-big {
  background-image: url("img/bg-everything.png");
}

.everything-title {
  font-family: "Baloo 2", cursive;
  font-size: 82px;
  font-weight: bold;
  line-height: 82px;
}

.bold {
  font-weight: bold;
}

.bg {
  width: 100%;
  height: auto;
  background-size: cover;
}
.bg--best-quality {
  background-image: url("img/bg-best.png");
}
.bg--getten {
  background-image: url("img/bg-getten.png");
}

.bestq-wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

.any-title {
  font-family: "Baloo 2", cursive;
  font-size: 50px;
}

.btn-pill {
  border-radius: 70px;
}

.circle {
  border-radius: 70px;
}

.card-wrapper {
  display: flex;
}

.card {
  margin: 0 0.5em;
}

.carousel-any-p__title {
  font-family: "Baloo 2", cursive;
  font-size: 24px;
}

.carousel-any-p__subtitle {
  font-size: 15px;
  color: rgb(149, 139, 126);
}

.we-care-bg-color {
  background-color: #faf4f2 !important;
}

.we-care-img-container {
  height: 618px;
}

.aqua {
  color: aqua;
}

.we-care-bones {
  max-height: 32px;
}

.we-care-svg-container {
  background-color: var(--we-care-svg-container);
  width: 50px;
  height: 50px;
}
.we-care-svg-container > svg {
  color: var(--we-care-svg-container--img);
}
.we-care-svg--car {
  width: 26px;
}
.we-care-svg--box {
  width: 50px;
}
.we-care-svg--card {
  width: 50px;
}
.we-care-svg--micro {
  width: 26px;
}

.slick-prev {
  color: black;
  z-index: 2 !important;
  left: -5px !important;
}

.slick-next {
  color: black;
  z-index: 2 !important;
  right: -5px !important;
}

.carousel-slick-trend .slick-prev:before, .carousel-slick-trend .slick-next:before {
  color: black;
}

.trending-carousel-card {
  border: 0;
}

.trending-carousel-button {
  background-color: var(--trending-carousel-button-bg);
  color: var(--trending-carousel-button-bg-c);
  border: 0;
}

.save-bg-fish {
  background-image: url("img/save-bg-fish.png");
  background-position: center bottom;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
}

.save-bg-toys {
  background-image: url("img/save-bg-toys.png");
  background-position: center center;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: space-around;
  padding: 40px 0 40px 40px;
}

.carousel-slick-orange {
  margin: auto;
  max-width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.carousel-slick-orange .slick-prev:before, .carousel-slick-orange .slick-next:before {
  color: black;
}
.carousel-slick-orange .carousel-slick-orange__container {
  width: 165px;
  height: 91px;
  margin: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: var(--we-care-svg-container);
}
.carousel-slick-orange .carousel-slick-orange__item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 105px;
  height: 50px;
  position: relative;
  text-align: center;
}
.carousel-slick-orange .carousel-slick-orange__item--applaws {
  background-image: url("img/carousel-slick-one/applaws.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--tigerino {
  background-image: url("img/carousel-slick-one/tigerino.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--gourmlet {
  background-image: url("img/carousel-slick-one/gourmlet.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--felix {
  background-image: url("img/carousel-slick-one/felix.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--purizon {
  background-image: url("img/carousel-slick-one/purizon.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--rocco {
  background-image: url("img/carousel-slick-one/rocco.webp");
}
.carousel-slick-orange .carousel-slick-orange__item--dokas {
  background-image: url("img/carousel-slick-one/dokas.webp");
}

.timer-container {
  max-width: 450px;
  flex-wrap: nowrap;
}
.timer-container .timer {
  display: grid;
  justify-items: center;
  align-content: center;
  width: 93px;
  height: 93px;
  margin: 0 10px 0 10px;
}

.bg-cat-week {
  background-image: url("img/bg_cat_week.png");
  background-position: center 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 2000px 1000px;
}

.cat-week__promotion {
  color: var(--trending-carousel-button-bg-c);
  font-size: 16px;
}

.top-recommendations__panel-container {
  display: grid;
  justify-content: center;
  border-bottom: black;
}

.top-recommendations__cat-bg {
  background-image: url("img/top-reco-cat-videoo.png");
  background-position: center center;
  min-height: 230px;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-recommendations__promo-bg {
  background-image: url("img/top-reco-bannerfood.png");
  background-position: right center;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: space-around;
  padding: 40px 0 40px 40px;
}

.carousel-slick-testimonials {
  margin: auto;
  max-width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.carousel-slick-testimonials .slick-prev:before, .carousel-slick-testimonials .slick-next:before {
  color: black;
}

.footer {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}
.footer__number-title {
  font-size: 50px;
  font-family: "Baloo 2", cursive;
  color: var(--we-care-svg-container--img);
}
.footer__created-wrapper {
  background-color: var(--footer-created-wrapper);
}
.footer__subtitle {
  font-size: 24px;
  font-family: "Baloo 2", cursive;
}
.footer__input {
  background-color: var(--footer-input);
}
.footer__button {
  background-color: var(--we-care-svg-container);
  border-color: var(--we-care-svg-container);
  color: var(--we-care-svg-container--img);
}

@media (max-width: 450px) {
  .any-title {
    font-size: 35px;
    text-align: center;
  }
  .everything-title {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .any-title {
    text-align: center;
  }
  .everything-title {
    text-align: center;
  }
}
@media (min-width: 995px) {
  .bestq-gap--left {
    margin-left: -15px;
    margin-right: 15px;
  }
  .bestq-gap--right {
    margin-left: 15px;
    margin-right: -15px;
  }
}

/*# sourceMappingURL=style.css.map */
