@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
@import "carousel-any-p";

:root {
  --we-care-bg-color:#faf4f2 !important; ;
  --we-care-svg-container: #ffe6d4;
  --we-care-svg-container--img: #ed6435;

}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
}

.bg-everything {
  background-position: center 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 2000px 1000px;
  /*
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;*/
}

.bg-dog-big {
  background-image: url("img/bg-everything.png");
}

.everything-title {
  font-family: "Baloo 2", cursive;
  font-size: 82px;
  font-weight: bold;
  line-height: 82px;

}

.bold {
  font-weight: bold;
}

.bg {
  width: 100%;
  height: auto;
  background-size: cover;

  &--best-quality {
    background-image: url("img/bg-best.png");
  }

  &--getten {
    background-image: url("img/bg-getten.png");
  }
}

.bestq-wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  padding-left: 0;
  padding-right: 0;

}

.any-title {
  font-family: "Baloo 2", cursive;
  font-size: 50px;
}


.bestq-gap--left {
  margin-left: -15px;
  margin-right: 15px;
}

.bestq-gap--right {
  margin-left: 15px;
  margin-right: -15px;
}

.btn-pill {
  border-radius: 70px;
}

.circle {
  border-radius: 70px;
}

.card-wrapper {
  display: flex;
}

.card {
  margin: 0 .5em;
}

.carousel-any-p__title {
  font-family: "Baloo 2", cursive;
  font-size: 24px;
}

.carousel-any-p__subtitle {
  font-size: 15px;
  color: rgb(149, 139, 126);
}

.we-care-bg-color {
  background-color: variable-exists(--we-care-bg-color);
}

.we-care-img-container {
  height: 618px;
}

.aqua {
  color: aqua;
}

.we-care-bones {
  max-height: 32px;
}

.we-care-svg {
  &-container {
    background-color: variable-exists(--we-care-svg-container);
    width: 50px;
    height: 50px;

    > svg {
      color: variable-exists(--we-care-svg-container--img);
    }
  }

  &--car {
    width: 26px;
  }

  &--box {
    width: 50px;
  }

  &--card {
    width: 50px;
  }

  &--micro {
    width: 26px;
  }

}

.carousel-slick-trend {
  .slick-prev:before, .slick-next:before {
    color: black;
  }
}

.trending-carousel-card {
  border: 0;
}

.trending-carousel-button {
  background-color: #b2e7e9;
  color: #45c1c7;
  border: 0;
}

.save-bg-fish {
  background-image: url("img/save-bg-fish.png");
  background-position: center bottom;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
}

.save-bg-toys {
  background-image: url("img/save-bg-toys.png");
  background-position: center center;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: space-around;
  padding: 40px 0 40px 40px;
}

.carousel-slick-orange {
  margin: auto;
  max-width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  /*  button{
      background-color: black;
    }
    button:hover{
      background-color:   black;
    }*/
  .slick-prev:before, .slick-next:before {
    color: black;
  }

  .carousel-slick-orange__container {
    width: 165px;
    height: 91px;
    margin: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #ffe6d4;
  }

  .carousel-slick-orange__item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 105px;
    height: 50px;
    position: relative;
    text-align: center;
  }

  .carousel-slick-orange__item--applaws {
    background-image: url("img/carousel-slick-one/applaws.webp");
  }

  .carousel-slick-orange__item--tigerino {
    background-image: url("img/carousel-slick-one/tigerino.webp");
  }

  .carousel-slick-orange__item--gourmlet {
    background-image: url("img/carousel-slick-one/gourmlet.webp");
  }

  .carousel-slick-orange__item--felix {
    background-image: url("img/carousel-slick-one/felix.webp");
  }

  .carousel-slick-orange__item--purizon {
    background-image: url("img/carousel-slick-one/purizon.webp");
  }

  .carousel-slick-orange__item--rocco {
    background-image: url("img/carousel-slick-one/rocco.webp");
  }

  .carousel-slick-orange__item--dokas {
    background-image: url("img/carousel-slick-one/dokas.webp");
  }
}


.timer-container {
  max-width: 450px;
  flex-wrap: nowrap;


  .timer {
    display: grid;
    justify-items: center;
    align-content: center;
    width: 93px;
    height: 93px;
    margin: 0 10px 0 10px;
  }
}

.bg-cat-week {
  background-image: url("img/bg_cat_week.png");
  background-position: center 0;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 2000px 1000px;
}

.cat-week__promotion {
  color: #45c1c7;
  font-size: 16px;
}

.top-recommendations__panel-container{
display: grid;
  justify-content: center;
  border-bottom: black;
}

.top-recommendations__cat-bg{
  background-image: url("img/top-reco-cat-videoo.png");
  background-position: center center;
  min-height: 230px;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-recommendations__promo-bg{
  background-image: url("img/top-reco-bannerfood.png");
  background-position: right center;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: space-around;
  padding: 40px 0 40px 40px;
}

.carousel-slick-testimonials {
  margin: auto;
  max-width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  /*  button{
      background-color: black;
    }
    button:hover{
      background-color:   black;
    }*/
  .slick-prev:before, .slick-next:before {
    color: black;
  }
}

.footer {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  &__number-title{
    font-size: 50px;
    font-family: "Baloo 2", cursive;
    color: #ed6435;
  }
  &__created-wrapper{
    background-color: #f2e8e4;

  }
  &__subtitle{
    font-size: 24px;
    font-family: "Baloo 2", cursive;
  }
  &__input{
    background-color: #f4e6e2!important;
  }

  &__button {
    background-color: #ffe6d4!important;
    border-color: #ffe6d4!important;
    color: #ed6435;
  }
}